# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Database
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Node
node_modules/

# Publish
publish/

# App Settings
appsettings.*.json
!appsettings.json

# Rider
.idea/

# OS Files
Thumbs.db
.DS_Store